//----------------------------
// vars
//----------------------------
$row-height: 30;

//----------------------------
// components
//----------------------------
@import './site-item';
@import './site-listing';
@import './modal';


//----------------------------
// base styles
//----------------------------
.row {
  display: flex;
  width: 100%;
}

body {
  background-color: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
}